* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: conforta;
    src: url(../font/COMFORTAA.REGULAR.TTF)
}

@font-face {
    font-family: logo;
    src: url(../font/ORATORSTD-SLANTED.OTF)
}

body {
    background-color: #000;
    background-image: url("../img/LAYOUT\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

header {
    background-color: #000;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        color: #fff;
        font-family: logo;
        margin: 0pc 20px;
    }

    img {
        width: 80px;
    }

    .logo {
        display: flex;
        align-items: center;
        margin: 10px
    }

    .nav-bar {

        ul {
            display: flex;
        }

        a {
            text-decoration: none;
            color: #fff;
            font-size: 18px;
            font-family: conforta;
        }

        li {
            list-style: none;
            padding: 40px 29px;
        }

        li:hover {
            background-color: #23367E;
            transition: 0.5s;
        }
    }
}

.bloco-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    .text {
        background-color: rgba($color: #000000, $alpha: 0.5);
        border: 1px solid #fff;
        height: 250px;
        width: 650px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    p {
        width: 550px;
        color: white;
        font-family: conforta;
        font-size: 30px;
        text-align: center;

    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    height: 100px;

    .atalhos {
        margin: 10px;

        a {
            text-decoration: none;
            color: white;
            font-size: 15px;
            font-family: conforta;
        }

        li {
            margin: 5px;
        }
    }

    .logo-devs {
        img {
            width: 150px;
        }
    }

    .redes-sociais {
        margin: 10px;

        img {
            width: 40px;
            height: 40px;
        }
    }
}

@media(max-width:700px) {
    header {

        .nav-bar {
            display: none;
        }
    }

    .bloco-center {}

    .text {
        width: 314px !important;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}